workers <%= @processorcount %>
threads = <%= @threads_min %>,<%= @threads_max %>

preload_app!

<%- app_dir = "#{scope['rails::deploy_root']}/#{@title}" -%>
<%- curr_dir = "#{app_dir}/current" -%>
<%- shared_dir = "#{app_dir}/shared" -%>
<%- tmp_dir = "#{shared_dir}/tmp" -%>
pidfile '<%= "#{tmp_dir}/pids/puma.pid" %>'
state_path '<%= "#{tmp_dir}/pids/puma.state" %>'
bind 'unix://<%= "#{tmp_dir}/sockets/puma.socket" %>'

on_worker_boot do
  if defined?(ActiveRecord::Base)
    ActiveSupport.on_load(:active_record) do
      ActiveRecord::Base.establish_connection
    end
  end
end

before_fork do
  if defined?(ActiveRecord::Base)
    ActiveRecord::Base.connection_pool.disconnect!
  end
end
