[Unit]
Description=Puma HTTP Server for <%= @title.capitalize %> Accept Sockets

[Socket]
# ListenStream=0.0.0.0:9292
# ListenStream=0.0.0.0:9293

# AF_UNIX domain socket
# SocketUser, SocketGroup, etc. may be needed for Unix domain sockets
ListenStream=/srv/apps/<%= @title %>/shared/tmp/sockets/puma.socket

# Socket options matching Puma defaults
NoDelay=true
ReusePort=true
Backlog=1024
SocketUser=<%= @socket_user %>
SocketGroup=<%= @socket_group %>

[Install]
WantedBy=sockets.target
