[Unit]
Description=Puma HTTP Server for <%= @title.capitalize %>
After=network.target

# Uncomment for socket activation (see below)
<%- if @use_socket %>Requires=<%= @title %>.socket<% end %>

[Service]
# Foreground process (do not use --daemon in ExecStart or config.rb)
Type=simple

# Preferably configure a non-privileged user
User=<%= @user %>

# Specify the path to your puma application root
WorkingDirectory=/srv/apps/<%= @title %>/current

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1
EnvironmentFile=/etc/default/<%= @title %>

# The command to start Puma
# Here we are using a binstub generated via:
# `bundle binstubs puma --path ./sbin`
# in the WorkingDirectory (replace <WD> below)
# You can alternatively use `bundle exec --keep-file-descriptors puma`
# ExecStart=/usr/local/bin/bundle exec sidekiq -e production

# Alternatively with a config file (in WorkingDirectory) and
# comparable `bind` directives
ExecStart=/srv/apps/<%= @title %>/current/bin/pumactl -F config/puma.rb start
ExecReload=/srv/apps/<%= @title %>/current/bin/pumactl -F config/puma.rb restart
ExecStop=/srv/apps/<%= @title %>/current/bin/pumactl -F config/puma.rb stop

Restart=always

[Install]
WantedBy=multi-user.target
