<%- unless @database_options == nil -%>
<%= @app_environment %>:
<%- @database_options.each do |key, value| -%>
  <%= key %>: <%= value %>
<%- end -%>
<%- if @database_password -%>
  password: "<%= @database_password.gsub("\\") { |m| "\\#{m}"}.gsub('"') { |m| "\\#{m}"} %>"
<%- end -%>
<%- end -%>
